<mat-toolbar color="primary">
    <span class="title-center">Rezervacija</span>
  </mat-toolbar>
  
  <div class="container mat-elevation-z8">
  
    <mat-form-field>
      <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Pretražite rezervacije">
    </mat-form-field>
  
    <mat-table [dataSource]="dataSource" class="mat-cell" matSort>
  
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="broj_osoba">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Broj osoba</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.broj_osoba}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="cena_karte">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Cena karte</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.cena_karte}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="datum">
        <mat-header-cell *matHeaderCellDef mat-sort-header="date">Datum</mat-header-cell>
        <!--- <mat-cell *matCellDef="let row">{{ row.datum }}</mat-cell> --->
        <mat-cell *matCellDef="let row">{{ row.datum | date: "dd.MM.yyyy."}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="placeno">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Plaćeno</mat-header-cell>
        <!--- <mat-cell *matCellDef="let row">{{ row.placeno }}</mat-cell> --->
        <mat-cell *matCellDef="let row">{{row.placeno?'Da':'Ne'}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="film">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Film</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.film.id}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="sala">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Sala</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.sala.id}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="openDialog(1, 0 , 0 , 0 , today, false, film, sala)">
            <mat-icon>add</mat-icon>
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="openDialog(2, row.id, row.broj_osoba, row.cena_karte, row.datum, row.placeno, row.film, row.sala)">
            <mat-icon arial label="Edit">edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="openDialog(3, row.id, row.broj_osoba, row.cena_karte, row.datum, row.placeno, row.film, row.sala)">
            <mat-icon arial label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns">
        <mat-row style="cursor: default" *matRowDef="let row; columns: displayedColumns"> </mat-row>
      </mat-header-row>
  
    </mat-table>
  </div>
