<!DOCTYPE html>
<html>
<head>
  <title>O nama</title>
  <link rel="stylesheet" type="text/css" href="home.component.css">
</head>
<body>
  <div class="container">
    <h1>O nama</h1>
    <p>Dobrodošli na adresu svih bioskopa raspoloživih na teritoriji Novog Sada, mesto gde se susreću strast prema filmu i nezaboravna iskustva. Naša misija je da vam pružimo vrhunski filmski doživljaj kroz širok spektar filmskih žanrova i najnoviju tehnologiju.</p>

    <div class="team-member">
      <img src="assets/img/bioskop1.jpg" alt="Član tima 1">
      <h3>Istorija bioskopa</h3>
      <p>Bioskopi su napredovali iz slavne filmske industrije i postali ključna destinacija za prikazivanje filmova širom sveta. Njihova priča započinje krajem 19. veka, kada su braća Luj i August Lumiér održali prvu javnu projekciju filma "Izlazak radnika iz fabrike Lumière" u Parizu, Francuska, 28. decembra 1895. godine. Taj trenutak se smatra početkom bioskopske industrije. Na samom početku, bioskopi su jednostavni prostori sa nekoliko redova stolica i platnom za projekciju. Gledaoci su uživali u kratkim, uglavnom nemim filmovima, koji su bili snimljeni na filmskoj traci
        Tokom 20. veka, bioskopi su postali sve popularniji. Napredak tehnologije doveo je do uvođenja zvučnih filmova, a kasnije su se pojavile inovacije kao što su farbani filmovi i široki ekrani. Nakon Drugog svetskog rata, bioskopi su proživeli zlatno doba, sa velikim brojem posetilaca koji su uživali u filmskim klasikama i holivudskim blokbasterima.
        U kasnijim godinama, bioskopi su se suočili s novim izazovima usled razvoja kućnih medija poput televizije, videorekordera, DVD-a i striming platformi. Međutim, industrija je odgovorila razvojem naprednih tehnologija poput digitalne projekcije, 3D i IMAX tehnologija kako bi privukla publiku i pružila im neponovljivo iskustvo.
        Danas, bioskopi su postali više od prostora za projekciju filmova. Oni su postali društvena mesta gde ljudi mogu da se okupljaju, udobno se smeste, uživaju u kvalitetnoj projekciji i zvuku, kao i raznovrsnoj ponudi hrane i pića. Iako se način na koji gledamo filmove promenio, bioskopi su ostali neprocenjivi kao mesta gde se filmovi dele i doživljavaju zajedno s drugima.</p>
    </div>

    <div class="team-member">
      <img src="assets/img/bioskop2.jpg" alt="Član tima 2">
      <h3>Raznovrsnost žanrova</h3>
      <p>Bioskopi su mesta koja nude širok izbor filmskih žanrova kako bi zadovoljili raznolike ukuse publike. Od akcije, avanture i komedije do drame, naučne fantastike, horora i romantičnih filmova, bioskopi omogućavaju gledaocima da se potpuno urone u različite svetove, emocije i priče. Kroz prikazivanje raznolikih žanrova, bioskopi pružaju publici mogućnost da odabere svoje omiljene vrste filmova i da doživi uzbuđenje akcije, smeh komedije, emotivnu povezanost drame ili da se prepusti maštovitosti naučne fantastike. Oni predstavljaju mesta koja okupljaju ljubitelje filma i pružaju im nezaboravno iskustvo uživanja u raznolikosti filmske industrije.</p>
    </div>

    <div class="team-member">
      <img src="assets/img/bioskop3.jpg" alt="Član tima 3">
      <h3>Rad tima i osoblja</h3>
      <p>U bioskopima, timovi i osoblje zajednički rade kako bi osigurali kvalitetno iskustvo gledanja filmova. Menadžeri efikasno organizuju sve operacije, prodavci karata pružaju usluge kupovine karata, tehničko osoblje brine o visokom standardu projekcije, dok koncesijsko osoblje obezbeđuje bogatu ponudu hrane i pića. Osoblje se posvećuje tome da svakog posetioca dočeka s ljubaznošću i profesionalizmom, pružajući im podršku, odgovarajući na pitanja i rešavajući eventualne probleme koji se mogu pojaviti. Zahvaljujući posvećenosti i radu tima i osoblja, bioskopi stvaraju atmosferu gostoprimstva i omogućavaju posetiocima da na najbolji mogući način uživaju u magiji filma.</p>
    </div>
  </div>
</body>
</html>
