<!DOCTYPE html>
<html>
<head>
  <title>O nama</title>
  <link rel="stylesheet" type="text/css" href="author.component.css">
</head>
<body>
  <div class="container">
    <h1>O autoru</h1>
    <p>Dobro došli na stranicu o autoru</p>

    <div class="team-member">
      <img src="assets/img/slika1.jpg" alt="Član tima 1">
      <h3>Konstantin Šec</h3>
      <p>Konstantin Šec, rođen 6. jula 1999. godine, završava osnovnu i srednju školu u Subotici. 2019. godine upisuje Fakultet tehničkih nauka u Novom Sadu, Univerzitet u Novom Sadu smer inženjerski menadžment. 2022. godine se opredeljuje da 4. godinu sluša i polaže na modulu informacioni menadžment. </p>
    </div>

 


  </div>
</body>
</html>
